{% load static %}
{% with request.get_full_path|add:"&?c" as clip_url %}
    
{% endwith %}
<li class="list-group-item{% if clip.id == active_clip.id %} active{% endif %}" clip-id="{{ id }}">
  <div class="media">
    <div class="media-left col-xs-12 col-sm-6">
      <div class="embed-responsive embed-responsive-4by3">
        <a class="btn-clip" href="#">
          <div class="video-hover">
          {% for m in word.meanings %}
          {% if forloop.counter0 == sense %}
            <p class="pull-down">{{ forloop.counter }}. {{ m.pos_entry.pos|slice:":3" }} {{ m.tran|safe }}</p>
          {% endif %}
          {% endfor %}
          </div>
        {% if videofile %}
          <video class="embed-responsive-item" preload="metadata" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/mp4/{{ videofile }}#t={{ start }},{{ end }}"></video>
        {% else %}
          <img class="embed-responsive-item" src="{% static "img/placeholder_clip.jpg" %}">
        {% endif %}
        </a>
      </div>
    </div>
    <div class="media-body">
      <h5 class="media-heading">
        <a class="btn-clip" href="#">{{ title|default:"No title" }} ({{ year }})</a>
      </h5>
      <p class="pull-down">
        {% include "controls/clip_info.html" %}
      </p>
    </div>
  </div>
</li>
