{% load static %}

<div class="embed-responsive embed-responsive-16by9" id="videoContainer">
  <div class="video-hover{% if active_clip.movie.videofile %} video-hover-valid{% endif %}">
    <div class="container">
    {% if is_plugin %}
      <div class="row row-heading">
      {% comment %}
      {% with word="ambush" ukphone="ˈæmbʊʃ" usphone="ˈæmbʊʃ" t=True g=False forms="ambushing, ambushed, ambushes" %}
      {% endcomment %}
      {% with word=word.word ukphone=word.ukphone ukspeech=word.ukspeech usspeech=word.usspeech usphone=word.usphone t=word.t g=word.g forms=word.forms %}
        {% include "controls/word_info.html" %}
      {% endwith %}
      </div>
    {% endif %}
    {% if word.meanings %}
    {% for m in word.meanings %}
      {% if forloop.counter0 == active_clip.sense %}
        <h4>
          <b data-toggle="tooltip" data-placement="right" title="{{ m.tran_en }}">{{ forloop.counter }}. [{{ m.pos_entry.pos|slice:":7" }}] {{ m.tran_cn|safe }}</b>
        </h4>
      {% else %}
        <h4>
          <span data-toggle="tooltip" data-placement="right" title="{{ m.tran_en }}">{{ forloop.counter }}. [{{ m.pos_entry.pos|slice:":7" }}] {{ m.tran_cn|safe }}</span>
        </h4>
      {% endif %}
      <h2></h2>
    {% endfor %}
    {% else %}
      <h2>Online Meanings</h2>
      <p>{{ word.tran }}</p>
    {% endif %}
    {% if active_clip.sent %}
      <div class="pull-down full-width text-center">
        <h4 class="sent-chinese hidden">(无中文字幕)</h4>
        <h4>{{ active_clip.sent|safe }}</h4>
      </div>
    {% endif %}
    {% if is_plugin %}
      <a class="btn-clip-next" href="#" clip-id="{{ next_clip.id }}" sense-id="{{ active_sense.current.id }}">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </a>
    {% endif %}
    </div>
  </div>

  <!-- <video class="embed-responsive-item" id="video" preload="metadata" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/Contact.1997.BluRay.720p.x264.480p.mp4#t=6100">
    <track label="Eng" kind="subtitles" src="../../static/subtitles/Contact en.vtt" default>
    <track label="Chi-Eng" kind="subtitles" src="../../static/subtitles/Contact ch+en.vtt">
  </video> -->
{% with videofile=active_clip.movie.videofile start=active_clip.start end=active_clip.end en_sub=active_clip.movie.en_sub|first dual_sub=active_clip.movie.dual_sub|first %}
{% if videofile %}
  <video class="embed-responsive-item no-sub" id="video" crossorigin preload="metadata" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/mp4/{{ videofile }}#t={{ start }},{{ end }}">
    {% if en_sub %}<track label="Eng" kind="subtitles" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/subtitles/{{ en_sub }}">{% endif %}
    {% if dual_sub %}<track label="Chi-Eng" kind="subtitles" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/subtitles/{{ dual_sub }}">{% endif %}
  </video>
{% else %}
  <img class="embed-responsive-item" src="{% static "img/placeholder_clip.jpg" %}">
{% endif %}
{% endwith %}
</div>

{% if active_clip.movie.videofile %}
<div class="row video-controls" clip-id="{{ active_clip.id }}" morph="{{ active_clip.morph }}">
  <div class="col-xs-6">
  {% with length=active_clip.length votes=active_clip.votes views=active_clip.views %}
    {% include "controls/clip_info.html" %}
  {% endwith %}
  </div>
  <div class="col-xs-6 text-right">
    <i class='fa fa-circle-o-notch fa-spin hidden'></i>
    <button type="button" class="btn btn-primary btn-subtitle" data-toggle="button" aria-pressed="false" autocomplete="off">
      Dual Subtitle:
      <span class="on">on</span>
      <span class="off">off</span>
    </button>
    <span class="hidden" title="Play">
      <a href="#" class="btn btn-link btn-lg btn-inverse btn-play" role="button">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      </a>
    </span>
  </div>
</div>

{% if not is_plugin %}
<div class="row row-movie-info">
{% comment %}
  {% with title="Forrest Gump" year="1994" poster="https://image.tmdb.org/t/p/w185/y3EsNpMFwvpcucLmx4HiiRRhCXV.jpg" description="如果你所创建的组件不包含任何文本内容（例如，内只包含了一个图标），你应当提供其他的内容来表示这个控件的意图，这样就能让使用辅助设备的用户知道其作用了。这种情况下，你可以为控件添加 aria-label 属相。" rating=5.5 t=213 g=168 %}
{% endcomment %}
{% with title=active_clip.movie.omdb.Title type=active_clip.movie.omdb.Type rating=active_clip.movie.rating t=active_clip.movie.t g=active_clip.movie.g rating2=active_clip.movie.omdb.imdbRating plot=active_clip.movie.omdb.Plot %}
{% static "img/placeholder_poster.jpg" as placeholder_poster %}
{% firstof active_clip.movie.poster_cached2 active_clip.movie.poster_cached placeholder_poster as poster_cached %}
{% firstof active_clip.movie.omdb.Poster active_clip.movie.poster placeholder_poster as poster %}
{% firstof active_clip.movie.omdb.Year active_clip.movie.year "No year" as year %}
  {% include "controls/movie_info.html" %}
{% endwith %}
</div>
{% endif %}
{% endif %}
