{% load static %}
<li class="list-group-item{% if clip.id == active_clip.id %} active{% endif %}" clip-id="{{ id }}">
  <div class="media">
    <div class="media-left col-xs-12 col-sm-6">
      <div class="embed-responsive embed-responsive-4by3">
        <a class="btn-clip" href="#">
          <div class="video-hover">
          {% for m in word.meanings %}
          {% if forloop.counter0 == sense %}
            <p class="pull-down text-overflow">{{ forloop.counter }}. {{ m.pos_entry.pos|slice:":3" }} {{ m.tran|safe }}</p>
          {% endif %}
          {% endfor %}
          </div>
        {% if videofile %}
          {% if SNAPSHOT_FROM_CACHE %}
          <img class="embed-responsive-item" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/snapshots/{{ snapshot }}" onerror="if (this.tagName.toLowerCase() != 'video') this.outerHTML = '<video class=&quot;embed-responsive-item&quot; preload=&quot;metadata&quot; src=&quot;http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/mp4/{{ videofile }}#t={{ start }},{{ end }}&quot;></video>';">
          {% else %}
          <video class="embed-responsive-item" preload="metadata" src="http://pi.cs.tsinghua.edu.cn/lab/moviedict/movies/mp4/{{ videofile }}#t={{ start }},{{ end }}"></video>
          {% endif %}
        {% else %}
          <img class="embed-responsive-item" src="{% static "img/placeholder_clip.jpg" %}">
        {% endif %}
        </a>
      </div>
    </div>
    <div class="media-body">
      <h5 class="media-heading">
        <a class="btn-clip" href="#">
          <strong>{{ title|default:"No title" }}</strong> ({{ year|slice:":4" }})
        </a>
      </h5>
      <p>
      {% if type == 'Tvshow' %}
        <span class="level-label">TV</span>
      {% else %}
        <span class="level-label">Film</span>
      {% endif %}
      </p>
      <p class="pull-down text-overflow">
        {% include "controls/clip_info.html" %}
      </p>
    </div>
  </div>
</li>
