<span class="label-group" title="Clip duration">
  <a href="#" class="btn btn-link btn-lg btn-inverse disabled" role="button">
    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
  </a>
  <span>{{ length|floatformat:0 }}s</span>
</span>
<span class="label-group" title="View times">
  <a href="#" class="btn btn-link btn-lg btn-inverse disabled" role="button">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  </a>
  <span class="num-views">{{ views|default:0 }}</span>
</span>
<span class="label-group" title="Votes">
  <a href="#" title="I think it's useful" class="btn btn-link btn-lg btn-inverse btn-vote" role="button">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  </a>
  <span class="num-votes">{{ votes|default:0 }}</span>
</span>
