<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object media-object-poster" src="{{ poster }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <div class="row row-heading">
      <div class="col-xs-12 col-sm-7">
        <h3 class="media-heading text-overflow">{{ title|default:"No title" }} ({{ year|slice:":4" }}
        {% if type == 'Tvshow' %}
          <span class="level-label h4 media-middle">TV</span>
        {% else %}
          <span class="level-label h4 media-middle">Film</span>
        {% endif %}
          )
        </h3>
      </div>
      <div class="col-sm-5 text-center" title="Vocabulary used in">
        <span class="level-label">TOEFL</span>
        <strong>{{ t|default:0 }}</strong>
        <span class="level-label">GRE</span>
        <strong>{{ g|default:0 }}</strong>
      </div>
    </div>
    <p>{{ plot }}</p>
    <p class="pull-down star-rating" title="IMDB rating: {{ rating2 }}">
      {% include "controls/star_rating.html" %}
    </p>
  </div>
</div>
