<li class="{% if id == active_movie.id %}active{% endif %}" movie-id="{{ id }}">
  <a href="#" class="btn-movie">
    <div class="media">
      <div class="media-left">
        <img class="media-object media-object-poster-sm" src="{{ poster_cached }}" onerror="if (this.src != '{{ poster }}') this.src = '{{ poster }}';">
      </div>
      <div class="media-body">
        <h5>
          <strong>{{ title|default:"No title" }}</strong> ({{ year|slice:":4" }}
        {% if type == 'Tvshow' %}
          <span class="level-label">TV</span>
        {% else %}
          <span class="level-label">Film</span>
        {% endif %}
          )
        </h5>
        <p title="Vocabulary used in">
          <span class="level-label">TOEFL</span>
          <strong>{{ t|default:0 }}</strong>
        </p>
        <p title="Vocabulary used in">
          <span class="level-label">&nbsp;&nbsp;GRE&nbsp;&nbsp;</span>
          <strong>{{ g|default:0 }}</strong>
        </p>
        <p class="star-rating" title="IMDB rating: {{ rating2 }}">
          {% include "controls/star_rating.html" %}
        </p>
      </div>
    </div>
  </a>
</li>
