<div class="col-xs-4">
  <h1><strong>{{ word }}</strong></h1>
</div>
<div class="col-xs-8">
  <div class="col-md-12">
    <p>
    {% if t %}
      <span class="level-label">TOEFL</span>
    {% endif %}
    {% if g %}
      <span class="level-label">GRE</span>
    {% endif %}
    {% if forms %}
      <i>({{ forms }})</i>
    {% endif %}
    </p>
  </div>
  {% if ukphone %}
  <div class="col-xs-6">
    <a href="#" title="UK speech" class="btn btn-link btn-lg btn-voice voice-js" role="button" data-rel="{{ ukspeech }}">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
    </a>
    <span>UK</span>
    <span class="text-phonetic">/{{ ukphone }}/</span>
  </div>
  {% endif %}
  {% if usphone %}
  <div class="col-xs-6">
    <a href="#" title="US speech" class="btn btn-link btn-lg btn-voice voice-js" role="button" data-rel="{{ usspeech }}">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
    </a>
    <span>US</span>
    <span class="text-phonetic">/{{ usphone }}/</span>
  </div>  
  {% endif %}
</div>
