<div class="col-xs-5 word-title text-overflow">
  <h1>
    <strong>{{ word }}</strong>
  {% if is_plugin %}
    <a class="btn-link-to-homepage" href="#" title="View in VoTube Website">
      <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    </a>
  {% endif %}
  </h1>
</div>
<div class="col-xs-7 no-padding">
  <div class="col-md-12 no-padding">
    <p>
    {% if t %}
      <span class="level-label">TOEFL</span>
    {% endif %}
    {% if g %}
      <span class="level-label">GRE</span>
    {% endif %}
    {% if forms %}
      <i>({{ forms }})</i>
    {% endif %}
    </p>
  </div>
  {% if ukphone %}
  <div class="col-xs-6 text-overflow no-padding">
    <a href="#" title="UK speech" class="btn btn-link btn-lg btn-voice voice-js" role="button" data-rel="{{ ukspeech }}">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
    </a>
    <span>UK</span>
    <span class="text-phonetic">/{{ ukphone }}/</span>
  </div>
  {% endif %}
  {% if usphone %}
  <div class="col-xs-6 text-overflow no-padding">
    <a href="#" title="US speech" class="btn btn-link btn-lg btn-voice voice-js" role="button" data-rel="{{ usspeech }}">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
    </a>
    <span>US</span>
    <span class="text-phonetic">/{{ usphone }}/</span>
  </div>  
  {% endif %}
</div>
